{% extends 'base.html.twig' %}

{% block title %}Genere index{% endblock %}

{% block body %}
    <h1>Genere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genere in generes %}
            <tr>
                <td>{{ genere.id }}</td>
                <td>{{ genere.name }}</td>
                <td>
                    <a href="{{ path('genere_show', {'id': genere.id}) }}">show</a>
                    <a href="{{ path('genere_edit', {'id': genere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genere_new') }}">Create new</a>
{% endblock %}
